---
layout: default
---



<div class="home">
	


{% include image.html url="/images/headshot.png" width=400 align="right" %}

<p>
Hey there, thanks for visiting. This website is here to help you become more familiar with my career and interests. Here are some basic facts. I am a Cleveland, Ohio native and live in Boulder, Colorado. My weekday life is centered around data and my weekend life is centered around mountains. 
</p>

<p>
I am currently a <strong>Data Scientist</strong> at NREL in the Transportation and Hydrogen Systems group. I earned my Master's in Statistics from the University of Colorado at Denver and undergraduate degree in Mathematics.
I use TensorFlow to build neural networks, Python and PySpark to process, clean and load data, and Pandas/Sklearn for routine data analysis. I am most interested in representation learning, prediction and clustering. Big data is cool, too. 
</p>

<p>
My weekend plans try to eliminate screen time and maximize time in the mountains <strong>running</strong>, mountain biking, bike touring, climbing or scrambling. 
</p>


{% include image.html url="/images/intro_me.jpg" width=700 align="left" %}

<p>
It is likely that you are here to check out my experience as a Data Scientist. Check out my Data Science Blog above for some tricks, tips and projects. Checkout the Career link to get a more in depth summary of my strenghts/interests and to get my Resume. 
</p>

<p>
Otherwise, navigate around to check out some of the things I am interested in. 
</p>


</div>

