---
layout: default
---



<div class="home">
	


{% include image.html url="/images/headshot.png" width=400 align="right" %}

<p>
Hey there, thanks for visiting!
</p>

<p>
I am currently a <strong>Machine Learning Engineer</strong> at <a href="http://www.pex.com">Pex</a> focusing on applying machine learning to media data across many social media platforms. Some of my strengths include deep learning for signal processing, image processing, high dimensional data, approximate nearest neighbor indexing among others. I earned my Master's in Statistics from the University of Colorado at Denver and undergraduate degree in Mathematics. My education has given me the statistical literacy to see machine learning from a statistical learning perspective, which helps me stand out from the rest. Experimental methods and a foundational understanding give me the skills to compliment the modular world of machine learning.  
</p>

<p>
I am only part data geek. On the weekends I spend time in the mountains: running, mountain biking, bike touring, skiing, climbing or scrambling. This is why I live in Colorado.
</p>


{% include image.html url="/images/intro_me.jpg" width=700 align="left" %}


</div>

