---
layout: default
---



<div class="home">
	


{% include image.html url="/images/headshot.png" width=400 align="right" %}

<p>
I am a Cleveland, Ohio native and live in Boulder, Colorado. 
At Some point in my late teens I began to enjoy familiarizing myself with the magnitude of this place on Earth. This place is so rich in life and I am forever learning to discover and apprecaite it. 
</p>

<p>
My career is in <strong>Data Science</strong>. I earned my Master's in Statistics from the University of Colorado at Boulder. I earned my undergarduate degree in Mathematics.
I have built deep networks in TensorFlow to generate human faces, classify an individual's ancestry based on their genomic data, classify the quality of fruit based on image input. Aside from that, I build scripts to process, clean and load data for analysis. Analysis usually includes Statistical methds and Machine Learning methods.
</p>

<p>
The majority of my time away from the screen is spent in the mountains <strong>running</strong>, mountain biking, bike touring, climbing or scrambling. 
</p>



{% include image.html url="/images/intro_me.jpg" width=700 align="left" %}

<p>
You might be here for a few reasons. It is likely that you are here to check out my experience in Data Science. Check out my Data Science link above for some tricks and tips I collect for myself, checkout the CV link, and check out the Github link below. 
</p>

<p>
Otherwise, navigate around to check out some of the things I am interested in. I plan to have a portion of my website devoted to my favorite runs in the mountains, flowers I have seen along the way, and a section for some of my bike packing trips. 
</p>


</div>

